<script>
import Menubar from 'primevue/menubar';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
import compImage from './comp-image.vue';
    export default {
        name: 'comp-Footer',
        components: {
            Menubar,
            InputText,
            Button,
            compImage
        },
        mounted() {
            console.log('Footer mounted.')
        }
    };
</script>

<template>
    <Menubar class="footer">
        <template #start>
            <compImage v-bind:Source="'../storage/logo.png'" />
        </template>
        <template #end>
            <InputText placeholder="Search" type="text" />
            <Button label="Logout" icon="pi pi-power-off" :style="{'margin-left': '0 .5em'}"/>
        </template>
    </Menubar>
</template>


	
