<script>
    import { mapGetters } from 'vuex';
    import compHeader from './comp-header.vue'
    import compFooter from './comp-footer.vue'

    export default {
        components: {
            compHeader,
            compFooter
        },
        mounted() {
            console.log('Application mounted.')
        },
        computed:{
            ...mapGetters('page',{
                headerData:'getHeaderData',
                pageData:'getPageData',
                footerData:'getFooterData'
            })
        },
        methods: {
            goBack() {
              window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
            }
          }
    };
</script>

<template>
        <div class="app_wrapper">
            <comp-header v-bind:headerData="headerData"/>
            <router-view v-bind:pageData="pageData"></router-view>
            <comp-footer v-bind:footerData="footerData"/>
        </div>
</template>