<script>
//import { mapGetters } from 'vuex';
    export default {
        name: 'comp-header',
        mounted() {
            console.log('Header mounted.')
        },
        props: ['headerData']

        // ,
        // computed:{
        //     ...mapGetters('page',{
        //         gettersHeaderData:'getHeaderData'
        //     })
        // }
    };
</script>

<template>
    <header class="header navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="">
                {{headerData.title}}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto">
                    <li>{{headerData.message}}</li>
                </ul>
                
                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Authentication Links -->
                    
                    <!-- <li class="nav-item">
                        <router-link to="/" class="nav-link">Home</router-link>
                    </li> -->
                        
                    <li class="nav-item">
                        <router-link to="/login" class="nav-link">Login/signup</router-link>
                    </li>

                    <!-- <li class="nav-item">
                        <router-link to="/dashboard" class="nav-link">Dashboard</router-link>
                    </li> -->
                     
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>Logout</a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href=""
                               onclick="event.preventDefault();
                                             document.getElementById('logout-form').submit();">Logout</a>

                            <form id="logout-form" action="logout" method="POST" class="d-none">
                                
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>
    