
.footer.p-menubar {
	background: #CED6DC;
	padding: 2rem 1rem;
	@media screen and (min-width: 992px) {
		padding-left: 1.5rem;
	}
	.p-menubar-button {
		display: none;
	}
	.p-menubar-end {
		width: 100%;
		display: flex;
		justify-content: center;
		.p-inputtext {
			margin-right: 1rem;
		}
	}
}