.header.p-menubar {
	justify-content: space-between;
	@media screen and (min-width: 992px) {
		padding-left: 1.5rem;
	}
	.p-menubar-root-list {

	}		
	.p-menubar-root-list > .p-menuitem > .p-menuitem-link {
	    padding: 1.2rem 1rem;
	}
}