.home {
	padding: 2rem;
	h1 {
		color: #f8f9fb;
	}
	h5 {
		margin: 1.5rem 0 1rem 0;
		font-family: inherit;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2;
		color: #f8f9fb;//inherit;
		&.floater {
			margin-bottom: 1.5rem;
		}
		&.fieldsetter {
			margin-bottom: 2rem;
		}
	}
	// .dropdown,
	// .calendar,
	// .scrollpanel,
	// .singleselect,
	// .inputgroup {
	// 	padding-bottom: 2rem;
	// }
	.full_width {
		background: #20262e;//#e6e6e6;
		padding: 2rem;
	}
	.p-grid {
		//padding-bottom: 2rem;
	}
	.p-grid > [class*="p-col"] {
		//text-align: center;
	}
	.p-field-radiobutton {
		margin-bottom: 0;
		label {
			margin-bottom: 0;
		}
	}
	.messenger_box {
		margin: .2rem 0 0 .2rem;
		.p-message-wrapper {
			padding: 0;
		}
	}
	.p-panel {
		.p-panel-icons {
			width: 80px;
			display: flex;
		}
	}
	.p-fieldset {
		position: relative;
		margin-bottom: 2rem;
		legend {
			width: auto;
			left: 1.5rem;
			top: -1.6rem;
			position: absolute;
		}
		.p-fieldset-content {
			padding-top: 3rem;
		}
	}
	.p-lg-4,
	.p-md-4 {
		@media screen and (min-width: 992px) {
			padding: 0 0.5rem !important;
		}
	}
	.card {
		display: block;
		border: none;
		background: #2a323d;//#fff;
		padding: 2rem;
		box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
		border-radius: 4px;
		margin-bottom: 1rem;
	}
	.scrollpanel {
		padding-top: 8rem;
	}

}